* {
  font-family: 'Roboto Sans', 'sans serif';
  font-size: 20px;
}
.action-list {
  display: flex;
  justify-content: center;
  margin-top:20px;
}

.key {
  height:180px;
  width:180px;
  cursor: pointer;
  margin:.25rem;
}
.pad {
  margin:0 auto;
  border-radius:1px;
  display:grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  max-width:570px;
}

.record-button {
  box-shadow: none;
  border: 10px solid red;
  background-color:rgb(255,128,128);
  border-radius:50%;
  width:2rem;
  height:2rem;
  margin:10px;
}
.record-button:focus {
  outline:none;
}

.recording-style {
  box-shadow: #f00 0 0 30px;
}

.play-button {
  background-color: transparent;
  border:none;
  font-size: 20px;
  margin: 10px;
}

.external-record-bar, .internal-record-bar {
  height:50px;
  border-radius: 25px;
}

.external-record-bar {
  width:400px;
  background-color: rgb(235,85,159);
}

.internal-record-bar {
  width:30%;
  background-color: rgb(85, 235, 118); 
}